/* Variables */

$main-color: rgba(255,255,255,1);
$nav-background: RGBA(50, 50, 50,.9);
$sidebar-background: RGBA(100, 100, 100, 1);
$nav-color: white;
$background-color: RGBA(220, 220, 220, 1);
$tab-color: RGBA(0, 116, 162, 1);
$responsive-width-medium: 736px;
$responsive-width-small: 414px;

/* Mixins */


/* Global */

body {
  background-color: $background-color;
	@media (max-width: $responsive-width-small) {
		h1 {font-size: 1.5em;}
		h2 {font-size: 1.25em;}
		h3, .lead {font-size: 1em;}
		p {font-size: .9em;}
	}	
}

a {
  text-decoration: none;
  color: $main-color;
  &:hover, &:visited, &:active {
    text-decoration: none;
    color: $main-color;
  }
}

	::-webkit-input-placeholder {
   text-align:center;
	}
	:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
	}
	:-ms-input-placeholder {  
   text-align:center; 
	}




.site-wrapper {
	padding-top: 50px;
	width: 100%;
}

/*Nav Bar*/

.nav-header {
	color: $nav-color;
	background-color: $nav-background;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1000;
  a {
  	color: $nav-color;
  }
  @media (max-width: $responsive-width-medium) {
	height: 50px;
	}
}

.menu-icon, .location, .filter {
	position: absolute;
	&:hover {
	cursor: pointer;
	}
}

.menu-icon, .filter {
	font-size: 1.5em;
	margin: 8px 20px;
	z-index: 100;
}

.menu-icon {
	left: 0;
	@media (max-width: $responsive-width-medium) {
		margin-left: 10px;
	}
}

.filter {
	right: 0;
	@media (max-width: $responsive-width-medium) {
		margin-right: 10px;
	}	
}

.location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform:translate(-50%, -50%);
	text-align: center;
	z-index: 0;
	font-size: 1.5em;
	display: inline-block;	
	p {
		margin: 0;
	}
}

.location-date {
	font-size: .75em;
	line-height: 1em;
}


/* Center Feed */

.col-centered {
  float: none;
  margin: 0 auto;
  padding: 0;
}

.event-holder {
	position: relative;
  margin: 0 0 5px 0;
  display: block;
  text-decoration: none;
  color: $main-color;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: $responsive-width-small) {
		margin-bottom: 2px;

	}
}

.image img {
  height: 300px;
  width: 100%;
  -moz-filter: brightness(.75);
  -o-filter: brightness(.75);
  -ms-filter: brightness(.75);
  -webkit-filter: brightness(.75);
  filter: brightness(.75);

  //http://bennettfeely.com/filters/
  @media (max-width: $responsive-width-small) {
		height: 200px;
	}	
}

.text-overlay {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  .lead {
  	font-size: 16px;
  	font-weight: normal;
  	line-height: 1em;
  	margin: 2px 0;
  }
}

.event-details {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 85%;
}

.business-details {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 70%;
}

.tag {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: block;
	width: 35%;
	text-align: right;
}

.heart {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
  @media (max-width: $responsive-width-small) {
		top: 10px;
		right: 10px;
	}	
}

/* Sponsored Image */

.sponsored img {
	width: 100%;
	height: auto;
}

.sponsored-heading {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: rgba(0,0,0,.75);
}

.sponsor {
	display: inline;
}


/* Business Page Header */

.business-page-navbar {
	@media (max-width: $responsive-width-medium) {
		display: none;
	}
}

.business-wrapper {
	background-color: $main-color;
	@media (max-width: $responsive-width-medium) {
		margin-top: -50px;
	}
}

.business-header {
	position: relative;
  display: block;
  text-decoration: none;
  color: $main-color;
}

.business-page-name {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	padding: 20px 50px;
	@media (max-width: $responsive-width-medium) {
		font-size: 1.5em;
		padding: 10px 50px;
		position: fixed;
		background-color: rgba(0,0,0,.5);
		z-index: 1000;
	}	
}

.business-header-button {
	position: absolute;
	top: 0;
	font-size: 2em;
	top: 22px;
	@media (max-width: $responsive-width-medium) {
		font-size: 1.5em;
		top: 10px;
		position: fixed;
		z-index: 1000;
	}
}

.back-arrow {
	left: 10px;
}

.bell {
	right: 10px;
}

.business-rating {
	position: absolute;
	bottom: 0;
	width: 215px; 
	height: 16px;
	background: url(../images/stars-map.png) no-repeat 0 -152px;
	margin: 10px;
}

.business-rating-text {
	display: inline-block;
	margin: 0;
	position: absolute;
	bottom: -2px;
	left: 90px;
}

.tabs-menu {
  background: $tab-color;
}

.tabs-menu ul {
	  margin:  0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
		li {
			display: table-cell;
		}
		a {
			display: block;
			font-size: 1.5em;
  		font-weight: bold;
  		text-transform: uppercase;
  		padding:1em;
			@media (max-width: $responsive-width-small) {
				font-size: 1em;
			}
		}
}

a.active-tab-menu {
	background-color: $main-color;
	color: $tab-color;
}

/* Content in Tabs */
.tabs {
  display: none;
}

.today-tab {
  display: block;
}

.full-image {
	width: 100%;
	margin: 10px 0 0 0;
}

.small-event-image {
	float: right;
	width: 30%;
}

.event-text-container {
	padding: 10px;
	h2 {
		margin-top: 0;
	}
}


/*Calendar Tab*/

.calendar-event {
	position: relative;
	background-color: $main-color;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}

.calendar-date-text {
	text-align: center;
	color: $tab-color;
	margin: 10px 0 0 0;
	padding: 5px;
	z-index: 100;
}

.calendar-heart {
	position: absolute;
	text-align: right;
	font-size: 2em;
	top: 10px;
	right: 15px;
	color: $tab-color;
	@media (max-width: $responsive-width-small) {
		font-size: 1.25em;
		top: 8px;
	}	
}

.calendar-event .event-text-container {
	background-color: $background-color;
	margin: 0 10px;
	@media (max-width: $responsive-width-medium) {
		margin: 0;
	}
}

/*Map and Footer Section*/

.map-container {
	margin: 10px 0 0 0;
	padding: 0;
}

.map {
	width: 100%;
	height: 250px;
	border-left: none;
	border-top: none;
}

.business-footer {
		margin-top: -5px;
		background-color: $background-color;
		overflow: hidden;
	ul {
	  margin:  0;
    padding: 0;
    list-style: none;
		li {
			text-align: center;
			padding: 5px 0;
			margin: 3px 0;
	    background-color: $main-color;
		}
		a{
			color: RGBA(65, 136, 224, 1);
		}
	}
}


/*Slide Out Navbar*/

.cbp-spmenu {
	background: $sidebar-background;
	position: fixed;
	color: $main-color;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a {
		display: block;
		font-size: 1.5em;
		@media (max-width: $responsive-width-small) {
			font-size: 1.25em;
		}
		&:hover {
			background: #258ecd;
		}
		&:active {
			background: #afdefa;		
		}		
	}
	.glyphicon {
		margin-right: 20px;
	}
}


.search-container {
	text-align: center;
	margin: 8px 5px;
	padding: 0;
}

.about {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow-y: scroll;
	a {
		padding: 20px 30px;
	}
}

.cbp-spmenu-horizontal {
	margin-top: 50px;
	z-index: 500;
	overflow: hidden;
	background-color: rgba(0,0,0,.9);
	@media (min-width: 992px) {
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, 0);
			-webkit-transform: translate(-50%, 0);
			-ms-transform:translate(-50%, 0);	
	}
	@media (max-width: $responsive-width-medium) {
		padding: 0;
	}
	h2 {
	height: 100%;
	width: 20%;
	float: left;
	}
	a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
	}
}

.location-search-container {
	text-align: center;
	padding: 10px 20px;
	margin: 0 auto;
	@media (max-width: $responsive-width-medium) {
		padding: 10px;
	}
	p {
		font-size: 1.5em;
		margin: 0;
	}
}

.choose-location-box {
	width: 75%;
	margin: 0 auto;
}

.location-select-box {
	img, span {
		cursor: pointer;
	}
}

.location-icon {
	height: 30px;
	width: 30px;
	padding: 0;
	margin: 0;
}

.current-location {
	font-size: 1.5em;
	color: RGBA(0, 120, 254, 1);
	vertical-align: middle;
}

.search-radius-box {
	margin-top: 15px;
}

.search-radius {
	display: inline-block;
	vertical-align: middle;
}

.slider {
	width: 50%;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -200px;
}


.cbp-spmenu-right {
	right: -240px;
}


.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}


.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Horizontal menu that slides from the top or bottom */


.cbp-spmenu-top {
	top: -1000px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}
 

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 200px;
}

.cbp-spmenu-push-toleft {
	left: -200px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}




