/* Variables */

$main-color: rgba(255,255,255,1);
$nav-background: RGBA(255, 164, 0, .8);
$nav-color: black;
$background-color: RGBA(240, 240, 240, 1);
$tab-color: RGBA(0, 116, 162, 1);
$responsive-width-medium: 736px;
$responsive-width-small: 414px;

/* Mixins */


/* Global */

body {
  padding-top: 50px;
  background-color: $background-color;
	@media (max-width: $responsive-width-small) {
		h1 {font-size: 1.5em;}
		h2 {font-size: 1.25em;}
		h3, .lead {font-size: 1em;}
		p {font-size: .9em;}
	}	
}

a {
  text-decoration: none;
  color: $main-color;
  &:hover, &:visited {
    text-decoration: none;
    color: $main-color;
  }
}

.site-wrapper {
}

/* For left side, fixed navbar
.fixed {
	position: fixed;
	top: 50px;
	border: 1px solid green;
	height: 100%;
}
 */

/*Nav Bar*/


.nav-header {
  background-color: $nav-background;
  color: $nav-color;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  a {
  	color: $nav-color;
  }
}

.home, .location, .search {
	position: absolute;
}

.home, .search {
	font-size: 2em;
	width: 20%;
	height: 100%;
	padding: 8px 50px;
	z-index: 100;
}

.home {
	text-align: left;
	@media (max-width: $responsive-width-medium) {
		padding-left: 10px;
	}
}

.search {
	right: 0;
	@media (max-width: $responsive-width-medium) {
		margin-right: 0px;
	}	
}

.location {
	width: 100%;
	height: 100%;
	z-index: 0;
	text-align: center;
	p {
		margin: 0;
	}
	a {
	font-size: 1.5em;
	display: inline-block;
	}
}

.location-date {
	font-size: .75em;
	line-height: 1em;
}

/* Center Feed */

.col-centered {
  float: none;
  margin: 0 auto;
  padding: 0;
}

.event-holder {
	position: relative;
  margin: 0 0 5px 0;
  display: block;
  text-decoration: none;
  color: $main-color;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: $responsive-width-small) {
		margin-bottom: 2px;

	}
}

.image img {
  height: 250px;
  width: 100%;
  -moz-filter: brightness(.75);
  -o-filter: brightness(.75);
  -ms-filter: brightness(.75);
  -webkit-filter: brightness(.75);
  filter: brightness(.75);

  //http://bennettfeely.com/filters/
  @media (max-width: $responsive-width-small) {
		height: 175px;
	}	
}

.text-overlay {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  .lead {
  	font-size: 20px;
  	font-weight: normal;
  }
}

.event-details {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 90%;
}

.business-details {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 70%;
}

.tag {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: block;
	width: 35%;
	text-align: right;
}

.heart {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
  @media (max-width: $responsive-width-small) {
		top: 10px;
		right: 10px;
	}	
}

/* Business Page Header */

.business-page-navbar {
	@media (max-width: $responsive-width-medium) {
		display: none;
	}
}

.business-wrapper {
	border: 1px solid black;
	height: 1000px;
	@media (max-width: $responsive-width-medium) {
		margin-top: -50px;
	}
}

.business-header {
	position: relative;
  display: block;
  text-decoration: none;
  color: $main-color;
}

.business-page-name {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	padding: 20px 50px;
}

.business-header-button {
	position: absolute;
	top: 0;
	font-size: 2em;
	top: 22px;
	@media (max-width: $responsive-width-small) {
		font-size: 1.5em;
		top: 18px;
	}
}

.back-arrow {
	left: 10px;
}

.bell {
	right: 10px;
}

.business-rating {
	position: absolute;
	bottom: 0;
	width: 215px; 
	height: 16px;
	background: url(../images/stars-map.png) no-repeat 0 -152px;
	margin: 10px;
}

.business-rating-text {
	display: inline-block;
	margin: 0;
	position: absolute;
	bottom: -2px;
	left: 90px;
}


/* Business Page Event Section */
.clearfix:after {
  content: '.';
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.tabs-menu {
  background: $tab-color;
}

.tabs-menu ul {
	  margin:  0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
		li {
			display: table-cell;
		}
		a {
			display: block;
			font-size: 1.5em;
  		font-weight: bold;
  		text-transform: uppercase;
  		padding:1em;
			@media (max-width: $responsive-width-small) {
				font-size: 1em;
			}
		}
}

a.active-tab-menu {
	background-color: $background-color;
	color: $tab-color;
}

/* Content in Tabs */
.tabs {
  display: none;
  padding: 30px;
  border: 1px solid red;
}
.today-tab {
  display: block;
}





