/* Variables */
/* Mixins */
/* Global */
html {
  font-size: 16px; }

body {
  padding-top: 50px;
  background-color: RGBA(240, 240, 240, 1); }

a {
  text-decoration: none;
  color: white; }
  a:hover, a:visited {
    text-decoration: none;
    color: white; }

.site-wrapper {
  border: 1px solid black; }

/* For left side, fixed navbar
.fixed {
	position: fixed;
	top: 50px;
	border: 1px solid green;
	height: 100%;
}
 */
/*Nav Bar*/
.navbar {
  background-color: RGBA(0, 0, 0, 0.75); }

/* Center Feed */
.col-centered {
  float: none;
  margin: 0 auto;
  padding: 0; }

.event-holder {
  position: relative;
  margin: 0 0 10px 0;
  display: block;
  text-decoration: none;
  color: white; }
  .event-holder:last-child {
    margin-bottom: 0; }
  @media (max-width: 736px) {
    .event-holder {
      margin-bottom: 5px; } }

/* .image {
/*change background image using jquery*/
/*use image in html: http://jsfiddle.net/audetwebdesign/EGgaN/*/
/* background: url('http://cdn.gdol.com/app/courses/image/preview/40367.jpg') no-repeat center center;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 min-height: 250px;}*/
.image img {
  height: 250px;
  width: 100%;
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75); }
  @media (max-width: 736px) {
    .image img {
      height: 175px; } }

.text-overlay h1, .text-overlay h2, .text-overlay h3, .text-overlay h4, .text-overlay h5, .text-overlay h6, .text-overlay p {
  margin: 0; }

.event-details {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%; }

.business-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70%; }

.tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 30%;
  text-align: right; }

.heart {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px; }
  @media (max-width: 736px) {
    .heart {
      top: 10px;
      right: 10px; } }

@media (max-width: 736px) {
  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.5em; }

  h3, .lead {
    font-size: 1.25em; }

  p {
    font-size: 1em; } }
