/*
Syntax error: Invalid CSS after "...width-medium) {": expected "}", was "<<<<<<< HEAD"
        on line 96 of style.scss

91:   width: 100%;
92:   -webkit-filter: brightness(.75);
93:   filter: brightness(.75);
94:   //http://bennettfeely.com/filters/
95:   @media (max-width: $responsive-width-medium) {
96: <<<<<<< HEAD
97: 		height: 150px;
98: =======
99: 		height: 175px;
100: >>>>>>> master
101: 	}	

Backtrace:
style.scss:96
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:1149:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:536:in `block'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:349:in `media_directive'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:174:in `special_directive'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:146:in `directive'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:554:in `block_child'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:535:in `block'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:283:in `block in watch'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...width-medium) {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 96 of style.scss\A \A 91:   width: 100%;\A 92:   -webkit-filter: brightness(.75);\A 93:   filter: brightness(.75);\A 94:   //http://bennettfeely.com/filters/\A 95:   @media (max-width: $responsive-width-medium) {\A 96: <<<<<<< HEAD\A 97: 		height: 150px;\A 98: =======\A 99: 		height: 175px;\A 100: >>>>>>> master\A 101: 	}	"; }
