/* Variables */
/* Mixins */
/* Global */
body {
  padding-top: 50px;
  background-color: RGBA(240, 240, 240, 1); }
  @media (max-width: 414px) {
    body h1 {
      font-size: 1.5em; }
    body h2 {
      font-size: 1.25em; }
    body h3, body .lead {
      font-size: 1em; }
    body p {
      font-size: .9em; } }

a {
  text-decoration: none;
  color: white; }
  a:hover, a:visited {
    text-decoration: none;
    color: white; }

/* For left side, fixed navbar
.fixed {
	position: fixed;
	top: 50px;
	border: 1px solid green;
	height: 100%;
}
 */
/*Nav Bar*/
.nav-header {
  background-color: RGBA(255, 100, 0, 0.8);
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1000; }
  .nav-header a {
    color: black; }

.home, .location, .search {
  position: absolute; }

.home, .search {
  font-size: 2em;
  width: 20%;
  height: 100%;
  padding: 8px 50px;
  z-index: 100; }

.home {
  text-align: left; }
  @media (max-width: 736px) {
    .home {
      padding-left: 10px; } }

.search {
  right: 0; }
  @media (max-width: 736px) {
    .search {
      margin-right: 0px; } }

.location {
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center; }
  .location p {
    margin: 0; }
  .location a {
    font-size: 1.5em;
    display: inline-block; }

.location-date {
  font-size: .75em;
  line-height: 1em; }

/* Center Feed */
.col-centered {
  float: none;
  margin: 0 auto;
  padding: 0; }

.event-holder {
  position: relative;
  margin: 0 0 5px 0;
  display: block;
  text-decoration: none;
  color: white; }
  .event-holder:last-child {
    margin-bottom: 0; }
  @media (max-width: 414px) {
    .event-holder {
      margin-bottom: 2px; } }

.image img {
  height: 250px;
  width: 100%;
  -moz-filter: brightness(0.75);
  -o-filter: brightness(0.75);
  -ms-filter: brightness(0.75);
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75); }
  @media (max-width: 414px) {
    .image img {
      height: 175px; } }

.text-overlay h1, .text-overlay h2, .text-overlay h3, .text-overlay h4, .text-overlay h5, .text-overlay h6, .text-overlay p {
  margin: 0; }

.event-details {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%; }

.business-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70%; }

.tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 35%;
  text-align: right; }

.heart {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px; }
  @media (max-width: 414px) {
    .heart {
      top: 10px;
      right: 10px; } }

/* Business Page */
.business-wrapper {
  border: 1px solid black;
  height: 1000px; }
